<!doctype html> 
<html lang="<%= lang %>" dir="<%= lang_dir %>">
  <head>
    <title><%= gettext('Mozilla Persona') %></title>
  </head>
<body>
    <h1><%= gettext('Mozilla Persona') %></h1>
</body>
</html>
